1757. Recyclable and Low Fat Products

Table: Products

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| product_id  | int     |
| low_fats    | enum    |
| recyclable  | enum    |
+-------------+---------+
product_id is the primary key (column with unique values) for this table.
low_fats is an ENUM (category) of type ('Y', 'N') where 'Y' means this product is low fat and 'N' means it is not.
recyclable is an ENUM (category) of types ('Y', 'N') where 'Y' means this product is recyclable and 'N' means it is not.
 

Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Products table:
+-------------+----------+------------+
| product_id  | low_fats | recyclable |
+-------------+----------+------------+
| 0           | Y        | N          |
| 1           | Y        | Y          |
| 2           | N        | Y          |
| 3           | Y        | Y          |
| 4           | N        | N          |
+-------------+----------+------------+
Output: 
+-------------+
| product_id  |
+-------------+
| 1           |
| 3           |
+-------------+
Explanation: Only products 1 and 3 are both low fat and recyclable.

#### Python

In [35]:
import pandas as pd

data = {"product_id":[0,1,2,3,4], "low_fats":['Y','Y','N','Y','N'], "recyclable":['N','Y','Y','Y','N']}

products = pd.DataFrame(data)

In [36]:
products

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [43]:
output_df = pd.DataFrame(products[(products['low_fats']=='Y') & (products['recyclable'] =='Y')]['product_id'])

# every filter condition must be enclosed in ()

In [44]:
display(output_df)

   product_id
1           1
3           3

Here output has same index for selected rows as in original df. To fix that, runs the following code.

In [45]:
output_df = output_df.reset_index(drop=True)

In [46]:
display(output_df)

   product_id
0           1
1           3

#### SQL

drop table if exists products;

create table products(product_id int, low_fats enum('Y','N'), recyclable enum('Y','N'));

insert into products values
(0,'Y','N'),
(1,'Y','Y'),
(2,'N','Y'),
(3,'Y','Y'),
(4,'N','N');

select * from products;

/* Solution */

select product_id
from products
where low_fats='Y'
and recyclable='Y';