183. Customers Who Never Order

Table: Customers

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.
 

Table: Orders

+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| customerId  | int  |
+-------------+------+
id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
 

Write a solution to find all customers who never order anything.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Customers table:
+----+-------+
| id | name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+
Orders table:
+----+------------+
| id | customerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
Output: 
+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |
+-----------+

### Python

In [1]:
import pandas as pd

data_1 = {"id":[1,2,3,4],"name":["Joe","Henry","Sam","Max"]}
customers = pd.DataFrame(data_1)

data_2 = {"id":[1,2],"customer_id":[3,1]}
orders = pd.DataFrame(data_2)

In [2]:
customers, orders

(   id   name
 0   1    Joe
 1   2  Henry
 2   3    Sam
 3   4    Max,
    id  customer_id
 0   1            3
 1   2            1)

In [37]:
# we cacnot use df.join here as it is indexed based join so we use merge to perform column based join instead

joined_df = customers.merge(orders, left_on='id', right_on='customer_id', suffixes=('_customers', '_orders'), how='left')

In [38]:
joined_df

   id_customers   name  id_orders  customer_id
0             1    Joe        2.0          1.0
1             2  Henry        NaN          NaN
2             3    Sam        1.0          3.0
3             4    Max        NaN          NaN

In [70]:
output = pd.DataFrame((joined_df[joined_df["id_orders"].isnull()]["name"])).reset_index(drop=True).rename(columns={"name": "Customers"})

# giving columns=["Customers"] inside pd.DataFrame will not work properly and there will be no data , so renaming columns later

In [71]:
display(output)

  Customers
0     Henry
1       Max

### SQL

create table customers(id int, name varchar(10));

insert into customers values
(1,"Joe"),
(2, "Henry"),
(3, "Sam"),
(4, "Max");

create table orders(id int, customerId int);

insert into orders values
(1, 3), (2, 1);

select c.name as "Customers"
from customers c
left join orders o
on c.id = o.customerId
where o.customerId is null;