2886. Change Data Type

DataFrame students
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| student_id  | int    |
| name        | object |
| age         | int    |
| grade       | float  |
+-------------+--------+
Write a solution to correct the errors:

The grade column is stored as floats, convert it to integers.

The result format is in the following example.

 

Example 1:
Input:
DataFrame students:
+------------+------+-----+-------+
| student_id | name | age | grade |
+------------+------+-----+-------+
| 1          | Ava  | 6   | 73.0  |
| 2          | Kate | 15  | 87.0  |
+------------+------+-----+-------+
Output:
+------------+------+-----+-------+
| student_id | name | age | grade |
+------------+------+-----+-------+
| 1          | Ava  | 6   | 73    |
| 2          | Kate | 15  | 87    |
+------------+------+-----+-------+
Explanation: 
The data types of the column grade is converted to int.

In [1]:
import pandas as pd

In [2]:
data = {"student_id":[1,2], "name":['Ava','Kate'], "age":[6,15],"grade":[73.0,87.0]}

In [4]:
students = pd.DataFrame(data)
students

   student_id  name  age  grade
0           1   Ava    6   73.0
1           2  Kate   15   87.0

In [5]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  2 non-null      int64
 1   name        2 non-null      object
 2   age         2 non-null      int64
 3   grade       2 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 196.0+ bytes

In [8]:
students["grade"] = students["grade"].astype(int)

In [9]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  2 non-null      int64
 1   name        2 non-null      object
 2   age         2 non-null      int64
 3   grade       2 non-null      int32
dtypes: int32(1), int64(2), object(1)
memory usage: 188.0+ bytes