595. Big Countries

Table: World

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| name        | varchar |
| continent   | varchar |
| area        | int     |
| population  | int     |
| gdp         | bigint  |
+-------------+---------+
name is the primary key (column with unique values) for this table.
Each row of this table gives information about the name of a country, the continent to which it belongs, its area, the population, and its GDP value.
 

A country is big if:

it has an area of at least three million (i.e., 3000000 km2), or
it has a population of at least twenty-five million (i.e., 25000000).
Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
World table:
+-------------+-----------+---------+------------+--------------+
| name        | continent | area    | population | gdp          |
+-------------+-----------+---------+------------+--------------+
| Afghanistan | Asia      | 652230  | 25500100   | 20343000000  |
| Albania     | Europe    | 28748   | 2831741    | 12960000000  |
| Algeria     | Africa    | 2381741 | 37100000   | 188681000000 |
| Andorra     | Europe    | 468     | 78115      | 3712000000   |
| Angola      | Africa    | 1246700 | 20609294   | 100990000000 |
+-------------+-----------+---------+------------+--------------+
Output: 
+-------------+------------+---------+
| name        | population | area    |
+-------------+------------+---------+
| Afghanistan | 25500100   | 652230  |
| Algeria     | 37100000   | 2381741 |
+-------------+------------+---------+

In [4]:
import pandas as pd

data = {"name":["Afghanistan","Albania","Algeria","Andorra","Angola"],"continent":["Asia","Europe","Africa","Europe","Africa"],
        "area":[652230,28748,2381741,468,1246700],"population":[25500100,2831741,37100000,78115,20609294],
        "gdp":[20343000000,12960000000,188681000000,3712000000,100990000000]}

In [5]:
World = pd.DataFrame(data)

In [6]:
World

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

##### Method 1: using dataframe.query()

In [23]:
World.query('area>=3000000 or population>=25000000')[["name","population","area"]] 

# note that list of column is sepcified after query function and it must be in double square brackets

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

##### Method 2: using loc[] accessor

In [28]:
World.loc[(World['area'] >= 3000000 )|( World['population'] >= 25000000), ['name', 'population','area']]

# the loc aggressor has two parts - the filter conditions and the columns to be selected(optional)

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
2      Algeria    Africa  2381741    37100000  188681000000

In [31]:
 World[(World['area'] >= 3000000) | (World['population'] >=25000000)][['name', 'population','area']]

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741